/* IMPORT */
@import url('general.css');

/* -- GENERAL -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*

    ///// PLAY COMPONENT /////

*/

/* - TITULO - */
#tituloPlayComponent {
    display: flex;
    justify-content: center;
    text-align: center;
}

#botonJugarPartida {
    background-color: var(--primary-color);
    width: 100%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* - PARTIDAS PRIVADAS - */
#partidasPrivadasComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#tituloPartidaPrivada {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#botonesPartidaPrivada {
    width: 100%;
    display:flex;
}

.botonPartida {
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 49%;
    margin-top:0px;
}

#espacio4{
    width:2%;
    height: 50px;
}


/*

    ///// MY PROFILE COMPONENT /////

*/
#myProfileMenuContainer{
    width: 100%;
}

#myProfileMenuTitle{
    margin-left: 30px;
}

#myProfileContainer{
    display: flex;
    border: 1px solid var(--white-color);
    border-radius: 10px;
}

/*

    ///// GLOBAL RANKING COMPONENT /////

*/
#globalRankingMenuContainer{
    width: 100%;
}
#globalRankingMenuTitle{
    margin-left: 30px;
}
#globalRankingContainer{
    display: flex;
    border: 1px solid var(--white-color);
    border-radius: 10px;
}
#globalRankingInternContainer{
    width: 100%;
}
.rankingContainer{
    display: flex;
    width: 100%;
}
.indexContainer{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.usernameContainer{
    width: 50%;
}
.pointsContainer{
    width: 20%;
}


/*

    ///// ORDER COMPONENTS IN INDEX /////

*/

#mainPageContainer{
    background-color: var(--neutral-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#myProfileComponent{
    margin-top: 50px;
}